.div {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  color: #000000;
}

.icon {
  margin-right: 10px;
  fill: #000000;
}

.info {
    display: flex;
    gap: 8px;
    align-items: center;
}




.button {
  position: absolute;
  width: min-content;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
  padding-right: 10px;
}

.data {
  display: flex;
  flex-wrap: wrap;
}
